@font-face {
    font-family: "Super Plants";
    src: url("/fonts/super_plants.ttf");

    font-family: "Selcouth";
    src: url("/fonts/Selcouth.ttf");

    font-family: "futbol";
    src: url("/fonts/futbol.ttf");
}